Source: pulseaudio-settings
Section: sound
Priority: optional
Maintainer: Maemo Multimedia <multimedia@maemo.org>
Build-Depends: debhelper (>= 5), cdbs
Standards-Version: 3.7.3
Vcs-Git: git://git.debian.org/git/pkg-pulseaudio/pulseaudio.git
Vcs-Browser: http://git.debian.org/?p=pkg-pulseaudio/pulseaudio.git
Homepage: http://www.pulseaudio.org

Package: pulseaudio-settings-n950
Architecture: all
Depends: pulseaudio (>= 0.9.19),
    pulseaudio-esound-compat (>= 0.9.19),
    pulseaudio-module-hal (>= 0.9.19),
    pulseaudio-module-bluetooth (>= 0.9.19),
    pulseaudio-module-meego-common (>= 0.9.19),
    pulseaudio-module-meego-mainvolume (>= 0.9.19),
    pulseaudio-module-meego-music (>= 0.9.19),
    pulseaudio-module-meego-record (>= 0.9.19),
    pulseaudio-module-meego-voice (>= 0.9.19),
    pulseaudio-module-meego-cmtspeech (>= 0.9.19),
    pulseaudio-module-nokia-algorithms (>= 0.9.19),
    pulseaudio-module-nokia-parameters (>= 0.9.19)
Provides: pulseaudio-settings
Conflicts: pulseaudio-settings
Replaces: pulseaudio-settings
Description: PulseAudio settings for N950
 PulseAudio, previously known as Polypaudio, is a sound server for POSIX and
 WIN32 systems. It is a drop in replacement for the ESD sound server with
 much better latency, mixing/re-sampling quality and overall architecture.
 .
 This package includes device specific settings for PulseAudio.

Package: pulseaudio-settings-debug
Architecture: all
Depends:  pulseaudio-dbg,
    pulseaudio-utils-dbg,
    pulseaudio-esound-compat-dbg,
    pulseaudio-module-extra-dbg,
    pulseaudio-module-hal-dbg,
    pulseaudio-module-gconf-dbg,
    pulseaudio-module-bluetooth-dbg,
    pulseaudio-module-x11-dbg,
    libpulse0-dbg,
    libpulse-mainloop-glib0-dbg,
    pulseaudio-module-meego-common-dbg,
    pulseaudio-module-meego-voice-dbg,
    pulseaudio-module-meego-cmtspeech-dbg,
    pulseaudio-module-meego-music-dbg,
    pulseaudio-module-meego-record-dbg,
    pulseaudio-module-meego-mainvolume-dbg,
    pulseaudio-module-meego-test-dbg,
    pulseaudio-module-nokia-common-dbg,
    pulseaudio-module-nokia-algorithms-dbg,
    pulseaudio-module-nokia-parameters-dbg,
    pulseaudio-module-nokia-audiots-dbg,
    pulseaudio-policy-enforcement-dbg,
    libasound2-dbg
Description: Debugging enabler package for PulseAudio
 PulseAudio, previously known as Polypaudio, is a sound server for POSIX and
 WIN32 systems. It is a drop in replacement for the ESD sound server with
 much better latency, mixing/re-sampling quality and overall architecture.
 .
 This package enables logging in PulseAudio and Policy components (stored
 in /var/log) and has dependencies to all relevant -dbg packages.
